.hamburger-button {
  $side-length: 50px;
  $small-scale: 0.8;

  position: fixed;
  right: 50px;
  top: 50px;

  width: $side-length;
  height: $side-length;
  cursor: pointer;
  z-index: 300;

  &:before {
    content: "";
    position: absolute;

    width: $side-length;
    height: $side-length;
    transform: rotate(-45deg);

    border: solid 1px black;
    box-sizing: border-box;

    background-color: white;
  }

  &__line {
    position: absolute;
    left: 10px;
    width: $side-length * 0.6;
    height: 1px;
    background-color: black;
    transition: all .6s;

    &:nth-of-type(1) {
      top: $side-length * 0.25;
    }

    &:nth-of-type(2) {
      top: $side-length * 0.5;
    }

    &:nth-of-type(3) {
      top: $side-length * 0.75;
    }
  }

  @include media-query($breakpoint: "sm") {
    right: 30px;
    top: 30px;

    width: $side-length * $small-scale;
    height: $side-length * $small-scale;

    &:before {
      width: $side-length * $small-scale;
      height: $side-length * $small-scale;
    }

    &__line {
      left: $side-length * 0.2 * $small-scale;
      width: $side-length * 0.6 * $small-scale;

      &:nth-of-type(1) {
        top: $side-length * 0.25 * $small-scale;
      }

      &:nth-of-type(2) {
        top: $side-length * 0.5 * $small-scale;
      }

      &:nth-of-type(3) {
        top: $side-length * 0.75 * $small-scale;
      }
    }
  }
}
