.twitter-share-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;

  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.428571429;

  color: #fff;
  background-color: #55acee;
  border-color: #4ca7ed;
  border-radius: 2px;

  cursor: pointer;
  text-decoration: none;
}