$button-size: 50px;

// https://hashimotosan.hatenablog.jp/entry/2019/05/28/164834
$breakpoints: (
        'sm': 'screen and (max-width: 559px)',
        'md': 'screen and (max-width: 959px)',
        'lg': 'screen',
) !default;

@mixin media-query($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  // https://pixabay.com/ja/illustrations/%E5%AE%87%E5%AE%99-%E7%A9%BA-%E3%82%B9%E3%82%BF%E3%83%BC-%E3%82%B9%E3%83%9A%E3%83%BC%E3%82%B9-2742113/
  background-image: url(./assets/images/universe-2742113_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.explosion {
  position: absolute;
  width: 100%;
  height: 100vh;

  // https://pixabay.com/ja/illustrations/%E7%81%AB%E3%81%AE%E7%8E%89-%E7%81%AB-%E3%83%96%E3%83%A9%E3%83%B3%E3%83%89-422746/
  background-image: url(./assets/images/explosion.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 0;
  transform: scale(1);

  z-index: 100;
  pointer-events: none;

  transition: 200ms;

  &--show {
    opacity: 1;
    transform: scale(1.5);

    transition: 500ms;
  }
}

.app-title {
  position: absolute;
  top: 20px;

  font-size: 20px;
  color: #dc143c;

  background-color: white;
  border: solid 2px red;
  border-radius: 10px;
  padding: 20px;

}

.app-info {
  position: fixed;
  bottom: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.calculator {
  z-index: 10;
  background-color: white;
  border: solid 1px black;
  min-width: 300px;

  .calculator-window {
    width: 100%;
  }

  .calculator-display {
    margin: 20px;
    padding: 20px 5px;
    font-size: 20px;
    background-color: #cedfe5;
    color: black;
    border: solid 1px black;
    text-align: right;
  }

  .calculator-button-row {
    display: flex;
    justify-content: center;

    .calculator-button {
      width: 50px;
      height: 50px;
      margin: 5px;

      border: solid 1px black;
      box-sizing: border-box;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &__label {
      }
    }
  }
}

.share {
  display: inline-block;
  background-color: deepskyblue;
  color: white;
  padding: 3px 10px;
  border: solid 1px white;
  border-radius: 5px;
  margin-top: 5px;
  text-decoration: none;
}
