.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;

  &--show {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
  }
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5)
}

.modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;

  &__label {
    background: #f5f5ff;
    padding: 10px 0;

    &::before {
    }

    &::after {
    }
  }

  &__body {
    margin: 20px auto;
  }

  &__action {
  }
}

.modal-window-action-button {
  display: block;

  margin: 0 auto;
  padding: 10px 0;
  max-width: 300px;

  text-decoration: inherit;
  color: white;
  text-align: center;

  background: linear-gradient(
                  135deg,
                  #ff96a2 0%, #ff96a2 10%,
                  #fb8391 10%, #fb8391 100%
  );
  border: solid 1px rgb(205, 205, 220);
}

.modal-link {
  text-decoration: none;
  color: inherit;
}

